<!DOCTYPE html>
<html lang="zn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Zhang Yi's Blog</title>
    </head>
    <body>
        <h1>Home</h1>
        <ul>
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                {{ post.excerpt }}
            </li>
            {% endfor %}
        </ul>

        {% for category in site.categories %}
            <h3>{{ category[0] }}</h3>
            <ul>
                {% for post in category[1] %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        {% include footer.html %}
    </body>
</html>